.accordion {
  margin-left: -15px;
}
.accordion-color {
  background-color: #050e2d !important;
  color: rgb(180, 177, 177) !important;
}

.accordion-color-detail {
  background-color: #202949;
  color: rgb(180, 177, 177);
}

.accordion-color-detail li {
  list-style: none;
  padding: 15px 10px;
}

.accordion-color-detail li:hover {
  color: green;
}

.accordion-color svg {
  color: aliceblue;
}
